<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5701.0">
	<Sites>
		<add SiteName="/" SiteId="572e0574-f852-4757-96a4-6a9bbbde3481" />
		<add SiteName="Subsite" SiteId="1fcc3194-9783-6993-95aa-ff0000afc00d" />
	</Sites>
</analyticsConfig>