<?xml version="1.0" encoding="utf-8"?>
<blogsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5701.0">
	<providers>
		<add title="Subsite Blogs" type="Telerik.Sitefinity.Modules.Blogs.Data.OpenAccessBlogProvider, Telerik.Sitefinity.ContentModules" applicationName="blogsProvider2" enabled="False" name="blogsProvider2" />
	</providers>
</blogsConfig>