<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5701.0" viewName="HierarchicalTaxonBackendInsert">
	<sections>
		<sections name="AdvancedSection">
			<fields>
				<field rows="1" isLocalizable="False" showCharacterCounter="False" recommendedCharactersCount="0" maxCharactersCount="0" trimSpaces="False" allowNulls="False" toolTipVisible="False" dataFieldName="Attributes.VersionField" wrapperTag="Li" title="Version" fieldType="Telerik.Sitefinity.Web.UI.Fields.TextField, Telerik.Sitefinity" fieldName="VersionField" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.TextFieldDefinitionElement, Telerik.Sitefinity">
					<expandableDefinition expanded="True" />
					<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
				</field>
			</fields>
		</sections>
	</sections>
</view>