<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5701.0">
	<notifications newPostNotificationTemplateId="94c53194-9783-6993-95aa-ff0000afc00d" newThreadNotificationTemplateId="95c53194-9783-6993-95aa-ff0000afc00d" />
	<providers>
		<add title="Subsite Forums" type="Telerik.Sitefinity.Forums.Data.OpenAccessForumsProvider, Telerik.Sitefinity.Forums" applicationName="forumsProvider2" filterQueriesByViewPermissions="true" enabled="True" name="forumsProvider2" />
	</providers>
</forumsConfig>