<?xml version="1.0" encoding="utf-8"?>
<listsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5701.0">
	<providers>
		<add title="Subsite Lists" type="Telerik.Sitefinity.Modules.Lists.Data.OpenAccessListsDataProvider, Telerik.Sitefinity.ContentModules" applicationName="listsProvider2" enabled="False" name="listsProvider2" />
	</providers>
</listsConfig>