body { font-family:Open Sans; color:#666666; }
p { color:inherit; font-size:1em; }
h1,h2,h3,h4,h5,h6 { font-family:inherit; }

/* TOP */

#top-container { padding:0 1.5rem; }
#top { margin-top:.5rem; border-bottom:1px solid #ddd; }
#top > .columns { padding:0; }

#top > .columns:last-child { margin-top:.5rem; }
#top > .columns:first-child .sfContentBlock { font-size:.75rem; text-align:center; }

/* SOCIAL LINKS */

.social-links { float:left; }
.social-links ul { margin:0; padding:0; }
.social-links ul li { list-style:none; float:left; }
.social-links ul li a { font-family:FontAwesome; display:block; color:#bbb; width:2rem; height:2rem; text-align:center; overflow:hidden; }
.social-links ul li a:hover { color:#fff; }
.social-links ul li a:before { top:.25rem; position:relative; }
.social-links ul li a span { display:none; }

.social-links ul li a.twitter:before { content:"\f099"; }
.social-links ul li a.twitter:hover { background:#46C0FB !important; }
.social-links ul li a.dribbble:before { content:"\f17d"; }
.social-links ul li a.dribbble:hover { background:#EA4C89 !important; }
.social-links ul li a.facebook:before { content:"\f09a"; }
.social-links ul li a.facebook:hover { background:#4863AE !important; }
.social-links ul li a.google:before { content:"\f0d5"; }
.social-links ul li a.google:hover { background:#4E6CF7 !important; }
.social-links ul li a.rss:before { content:"\f09e"; }
.social-links ul li a.rss:hover { background:#FF7F25 !important; }
.social-links ul li a.linkedin:before { content:"\f0e1"; }
.social-links ul li a.linkedin:hover { background:#0083A8 !important; }

/* LANGUAGE SELECTOR */

#top .language-selector { float:right; position:relative; }
#top .language-selector.active ul { display:block; z-index:10; }

#top .language-selector .current-language { display:block !important; color:inherit; height:2rem; width:3rem; text-align:center; }
#top .language-selector .current-language:after { line-height:2rem; content:"\f0d7"; position:relative; font-family:"FontAwesome"; color:#b5b8bd; font-size:.65rem; top:-3px; margin:0 0 0 .1rem; }
#top .language-selector .current-language:hover:after { color:inherit; }
#top .language-selector .current-language:hover { background:#fafafa; }
#top .language-selector .current-language span { display:none; }

#top .language-selector ul { display:none; margin:0; padding:0; border:1px solid #dedede; background:#fff; position:absolute; right:0; top:2rem; width:10rem; }
#top .language-selector ul li { list-style:none; margin:0; font-size:.7rem; border-bottom:1px solid #dedede; }
#top .language-selector ul li:last-child { border-bottom:0; }
#top .language-selector ul li a { background:inherit; color:inherit; padding:.4rem .7rem; display:block; }
#top .language-selector ul li a:hover { background:#fafafa; }
#top .language-selector ul li a span { margin:0 0 0 .5rem; }
#top .language-selector ul li.sflangSelected a { cursor:inherit; }

#top .language-selector a[lang]:before { content:""; display:inline-block; height:11px; width:16px; background-position:center center; background-repeat:no-repeat; }
#top .language-selector a[lang=en]:before { background-image:url(../Images/flags/us.png); }
#top .language-selector a[lang=fr]:before { background-image:url(../Images/flags/fr.png); }
#top .language-selector a[lang=de]:before { background-image:url(../Images/flags/de.png); }

/* HEADER */

#header { padding:1rem 1.5rem; }
#header > .columns { padding:0; }
#header #logo { margin-top:.3rem; }
#header #logo img { max-width:none; }

/* NAVIGATION */

#menu-toggle { font-family:FontAwesome; background:#333; color:#eee; float:right; width:2.6rem; height:2.6rem; text-align:center; border-radius:3px; }
#menu-toggle:before { content:"\f0c9"; font-size:1.3rem; top:.35rem; position:relative; }
#menu-toggle span { display:none; }

#navigation nav { display:none; }

/* MIDDLE */

#middle-container { border-top:1px solid #ddd; }
.page-layout { margin-top:1rem; margin-bottom:1rem; padding:0 .85rem; }

/* SOCIAL FEED (BOTTOM) */

#social-container { background:#f0f0f0; }

/* FOOTER */

#footer-container { background:#3d4345; padding:2.5rem 0; }
#footer { padding:0 .875rem; }
#footer .columns .columns { margin-bottom:2.5rem; }
#footer .columns:last-child .columns:last-child { margin-bottom:0; }
#footer .columns .columns > div { font-size:.8rem; color:#dcdcdc; }
#footer .columns .columns > div h4 { text-transform:uppercase; color:#fff; font-size:.875rem; font-weight:700; margin:0 0 .8rem; }
#footer .columns .columns > div ul { font-size:.8rem; margin:0; padding:0; }
#footer .columns .columns > div ul li { list-style:none; }

/* NEWSLETTER SIGNUP */

.sfnewsletterForm { padding:0; }
.sfnewsletterForm .sfnewsletterDescription { padding-bottom:0; color:inherit; }
.sfnewsletterForm .sfMessage { display:none; padding:.5rem; margin:1px 0 0; width:55%; float:left; font-size:.7rem; }
.sfnewsletterForm .sfMessage.sfMsgVisible { display:block; }
.sfnewsletterForm .sfMessage.sfMsgNegative { color:red; }
.sfnewsletterForm .sfMessage.sfMsgPositive { color:green; }
.sfnewsletterForm .sfTxt { margin:0; font-size:.7rem; font-family:inherit; background:#e6e6e6; float:left; width:55%; border-radius:2px; padding:0.5rem; height:2rem; }
.sfnewsletterForm .sfnewsletterSubmitBtn { font-family:inherit; padding:0; background:#0093cf; color:#fff; border:0; border-radius:2px; font-size:.7rem; text-transform:uppercase; height:2rem; padding:0 1rem; margin-left:.25rem; }

/* FOOTER SOCIAL LINKS */

#footer .social-links ul li { margin-right:.35rem; }
#footer .social-links ul li a { background:#fff; border-radius:1rem; color:#666666; }
#footer .social-links ul li a:hover { color:#fff; }

/* BOTTOM (COPYRIGHTS) */

#bottom-container { background:#303436; padding:1rem 0; }
#bottom { padding:0 .875rem; }
#bottom .columns { margin-bottom:.5rem; }
#bottom .columns:last-child { margin-bottom:0; }
#bottom .columns > div { font-size:.75rem; color:#a1a1a1; }
#bottom .columns > div ul { margin:0; padding:0; font-size:.75rem; }
#bottom .columns > div ul li { list-style:none; float:left; margin-right:1rem; }
#bottom .columns > div ul li a { color:#a1a1a1; }

/* FOUNDATION 5 FIXES */

body { min-width: 0; }

table { margin: 0; background: transparent; }
table tr th, table tr td { color: inherit; }
form { height: 100%; margin: 0; }

.ZoneEditorToolboxContainer select { padding: 0; height: auto; }

.sfPageEditor *,
.sfPageEditor *:before,
.sfPageEditor *:after { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

.sfPageContainer *,
.sfPageContainer *:before,
.sfPageContainer *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

form .row .row { margin: 0 -.625em 0 -.625em; }
form .row .row .column,
form .row .row .columns { padding: 0 .625em 0 .625em; }

.sf_cols.row { font-size:1rem; }

/* SITEFINITY FIXES */

.sfPageEditor #top { height: auto; }
.sfPageEditor .tabber-content .tabber-tab { display: block; }

.alert a { color:inherit; text-decoration:underline; }